*,
*::after,
*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ###################### UTILITY CLASSS #########################33 */

.container{
    min-width: 300px;
    max-width: 1200px;
    width:90%;
    margin:auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    border-radius: 50px;
    font-weight: 500;
}

.btn-primary{
    color:blanchedalmond;
    background-color: rgb(39, 137, 32);
    font-size: 1.3rem;
}

.btn .btn-primary .extra{
    margin: 11rem;
}
/* ******************------------############### NAVBAR-SECTION ########-------------------************ */

/* FOR DESKTOP VIEW */

.navbar input[type="checkbox"],
.navbar hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 3px 5px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: black;
    opacity: 0.85;
    z-index: 999;
}

.nav-container{
    display: flex;
    justify-content:space-between;
    height: 54px;
    align-items: center;
}

.logo{
    /* margin-left: 1rem; */
    font-size: 2.5rem;
}

.menu-items{
    display: flex;
    /* margin-left: 70rem; */
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}
 
.navbar a{
    text-decoration: none;
    color: rgb(36, 34, 34);
    transition: color 0.3s ease-in-out;
    font-weight: 500;
}

.navbar a:hover{
    color: green;
}

/* ####################################### SHOWCASE AREA ##################################### */

.showcase-area{
    height: 60vh;
    background-image: url("imgfood/header-image2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat ;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100%;
    font-size: 1.6rem;
}

/* ##################################### ABOUT US ################################### */

#about{
    margin: 80px 0px;
    background: #f1f1f1c0;
    padding-bottom: 30px;
}

.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.abt-p1{
    font-size: 3rem;
    font-weight: 500;
    color:#666;
}

.abt-hd{
    font-size: 2rem;
    margin: 5px 0px;
}

.abt-p2{
    font-size: 1.3rem;
}
.about-img{
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(100%);
    animation: about-img-animation 0.8s ease-in-out forwards;
}

@keyframes about-img-animation {
    100%{
        transform: translateX(0);
    }
}
.about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-130%);
    animation: about-img-animation 0.8s ease-in-out forwards;
}


.about-img img{
    display: block;
    height: 350px;
    width: 500px;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
}

/* ######################################## FOOD CATEOGRY STYLING ########################## */

#food{
    padding: 5rem 0 10rem 0;
}

.foodtyp{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 500;
    color:#666;
}

.food-container{
    display: flex;
}

.food-type img{
    display: block;
    width: 100%;
    /* margin: auto; */
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container{
    margin: 0 1rem;
    position: relative;
}

.img-content{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.2s ease-in-out 0.1s;
}

.img-content h1{
    color: #fff;
    font-size: 3rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

 .img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
 }

 .img-container:hover .img-content{
    opacity: 1;
    top: 50%;
 }

/* ################################################# Food Menu Styling ############################# */

#food-menu{
    padding: 4rem 0 10rem 0;
}
.food-menu-heading{
    text-align: center;
    margin: 30px 0px;
    font-size: 3rem;
    font-weight: 500;
    color:#666;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
}

.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; 
}

.food-menu-item{
    display: flex;
    flex: 1 1 450px;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.food-description{
    margin: auto 1.5rem;
}

.food-title{
    font-size: 1.8rem;
    font-weight: 500;
}

.food-description p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2px 0px;
}

.food-description .food-price{
    font-size: 1.1rem ;
    color:#117964;
    font-weight: 550;
}

/* ###################################### TESTIMONIAL STYLING ######################### */

.testimonial-heading{
    text-align: center;
    margin: 30px 0px;
    font-size: 3rem;
    font-weight: 500;
    color:#666;
}

#testimonial{
    background: rgba(170, 170, 170, 0.067);
    padding-top: 0.4px;
    margin-top: 2rem;
    padding: 4rem 0 10rem 0;
}

.testimonial-container{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    padding-bottom: 4rem;
    margin-bottom: 1rem;
}

.testimonial-container .testimonial-review{
    font-size: 1.3rem;
    margin: 1rem 0rem;
}

.testimonial-box{
    text-align: center;
    padding: 3rem 1rem;
}

.testimonial-box .star-rating{
    color: gold;
}

.customer-pic img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 2rem auto;
}

/* ##################################### CUSTOMER PAGE STYLING ############################# */

#contact{
    padding: 10rem ;
    background: rgba(170, 170, 170, 0.225);
    
}

.contact-container{
    display: flex;
    background: #fff;
}

.contact-img{
    width:  100%;

}

.contact-img img{
    display: block;
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
 
}

.contact-form{
    margin:  1rem;
    width: 100%;
    color:#666;
}

.contact-form input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.contact-form textarea{
    display: block;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0rem;
    width: 100%;
}

.contact-form h1{
    /* text-align: center; */
    margin: 20px 0px;
    font-size: 3rem;
    font-weight: 500;
}

.contact-form a{
    font-size: 1.5rem;
    margin-left: 40%;
}


#footer{
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    font-weight: 500;
    background: #666;
    color: aliceblue;
}

/* ################################## MEDIA QUERIES ####################### */

 @media(max-width:760px){
    .navbar{
        opacity: 0.95;
    }
    .navbar input[type="checkbox"],
    .navbar hamburger-lines{
       display: block;
    }
    .nav-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .nav-container input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .nav-container .hamburger-lines{
        display: block;
        height: 27px;
        width: 34px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #666;
    }
    .nav-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
     .navbar .menu-items{
        padding-top: 80px;
         background: #fff;
        height: 100vh;
        max-width: 235px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px rgb(212, 206, 206);
    }
    .navbar .menu-items li{
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .nav-container input[type='checkbox']:checked ~ .menu-items{
        transform: translateX(0);
    } 
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    .food-menu-container img{
        display: block;
        width: 230px;
        height: 230px;
    }

    .contact-form a{
        font-size: 1.5rem;
        margin-left: 25%;
    } */

    /* ############## FOOD CATEOGRY ################### */

     /* .food-container{
        flex-direction: column;
        align-items:stretch;
     }
     .food-type:not(:last-child){
        margin-bottom: 2rem;
     }
     .food-type{
        box-shadow: 5px 5px 10px 0px #aaa;
     }
     .img-container{
        margin: 0;

     }
} 

/* ############## SMALL SCREEN ##############333 */

 @media (max-width: 500px){

    html{
        font-size: 60%;
    }
    
    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }

    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }

    .food-menu-container img{
        margin: auto;
     }

    
} 

/* ###############################Small Screen Contact Form ###################################### */
  @media(max-width:680px){
    .food-container{
        width: 70%;
        
    }
    .contact-form{
        width: 90%;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-img{
        width: 90%;
        margin: 3rem auto;
    }

    #contact{
        padding: 1rem;
        background: rgba(170, 170, 170, 0.225);
    }

    .contact-form{
        margin: 1rem 0rem 2rem 2rem;
        width: 90%;
        color:#666;
    }

    .contact-form a{
        font-size: 1.5rem;
        margin-left: 40%;
    }
}
